<main class="p-5">
   <div class="card p-5">
    <h1>CCS</h1>
    <h2>sscccFFF</h2>
   <p id="test">
    hellogkjop[lfkgj[p;hfklg]lf[]ghljk[]ghfhl[kj[fglhklgh[]k[]gfhlkfg kjfphgkjpgfk[f]]]]
   </p>
   <p id="test">
    hello
   </p>
   <p id="test">
    hello
   </p>
   <span>FEFE</span>
   <span class="ss">FAFA</span>
  </div>
  <pre>         fsed</pre>

   <div>Block</div>
   <div>Block</div>
   <div>Block</div>


   <div style="padding: 30px 50px 100px 200px; background: gray;">

  <span>Inline</span>
  <span>Inline</span>
  <span>Inline</span>
  <span class="blox">Inline</span>
   </div>

   <div>OOO</div>

</main>