{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

{{! <div class="p-5">
    <h1>FFFF</h1>

   
</div> }}

<div class='card p-5 m-5 card-dark'>
  <input class='input-dark' required />
  <input class='input-dark' type='number' />
</div>

<div class='card p-5 m-5 card-dark'>
  <img
    alt='image small card 100'
    class='small-img'
    src='https://picsum.photos/200/300'
    height='100px'
  />
  <a
    href='https://picsum.photos/200/300'
    rel='externalfsv'
  >LINK</a>
  <button class='before-after btn'>CLICK</button>
  <br />
  <a
    class='small btn btn-secondary'
    href='https://picsum.photos/200/300'
    rel='externalfsv'
  >Click</a>
</div>

<div class='card p-5 m-5 card-dark'>
  <p class='big-text'>TTTTT</p>
  <input class='input-whith' placeholder='tig yfh' />
</div>

<div class='card p-5 m-5 card-dark'>
  <a href='https://picsum.photos/200/300'>kgfdpgf</a>
  <a href='https://picsum.photos/200/300'>dfjknpdjm</a>
  <a href='https://picsum.photos/200/300'>idjghd</a>
</div>

<div class='card p-5 m-5 card-dark'>
  <a href='#test'>CLICK1</a>
</div>

<div class='card p-5 m-5 card-dark'>
  <a
    class='link'
    href='https://www.radiorelax.ua/'
  >CLICK2</a>
</div>

<div class='card p-5 m-5 card-dark'>
  CLICK3
</div>

<div lang='fr' class='card p-5 m-5 card-dark'>
  <button class='link2'>CLICK</button>
</div>

<div lang='en' id='test' class='card p-5 m-5 card-dark'>
  <input />
  <span>Hello world</span>
</div>

<div class='p-5 m-5 card-dark'>
  <button>TEST</button>
  <button disabled>TEST</button>
</div>

<div class='p-5 m-5 card-dark'>
  <input class='inp' />
  <div class='mt-5'>
    <div>
      <input type='checkbox' checked />
      <span>ghfg</span>
    </div>
    <div>
      <input type='checkbox' />
      <span>hjdff</span>
    </div>
  </div>
</div>

<div class='p-5 m-5 card-dark'>
  <input type='email' class='valid' />
</div>

<div class='p-5 m-5 card-dark'>
  <div>
    <input
      type='email'
      required
      class='valid'
      placeholder='test'
    />
    <span>TEST text</span>
  </div>
  <div class='mt-5'>
    <input
      type='number'
      min='10'
      max='200'
      required
      class='number'
    />
  </div>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}