 :root {
  /* --space-1:4px; */
  --space-m:12px;
  --space-xm:16px;
  --space-l:24px;
  --space-b:36px;

  --size-s:12px;
  --size-d:16px;
  --size-m:20px;
  --size-l:20px;

  --colar-border:#dee2e6;
  --color-primary: #0000FF;
  --color-white: #fff;
  --color-title:#212529;
  --color-text:#343a40;
  --border-radius:12px;
  --weight-title: 500;
 }
 
 /* ________________ */

.page {
  background:var(--color-white);
  padding:  0 15px;
  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ________________ */

.header {
 padding: var(--space-l) 0;
 border-bottom: 1px solid var(--colar-border);
 display: flex;
 justify-content: space-between;
}

.header-logo {
  font-size: 18px;
  color: var(--color-white);
  background:#563D7C;
  width: 24px;
  height: 24px;
  border-radius: calc(var(--border-radius)/ 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
 display: flex;
}

.nav_inline {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);
  flex-direction: column;
}

.nav_link {
 color:var(--color-text);
 font-size: var(--size-d);
 text-decoration: none;
 line-height: 100%;
}

.nav_link:hover {
 text-decoration: underline;
 color: var(--color-primary);
}

 footer {
   padding: var(--space-l) 0;
   border-top: 1px solid var(--colar-border);
   display: flex;
   justify-content: space-between;
 }

 .footer_copyright {
  font-size: var(--size-s);
  color:var(--color-text);
  margin-top: var(--space-l);
  display:block;
 }

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);
  display: block;
  margin-bottom: var(--space-l);
  font-weight: var(--weight-title);
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-image {
  margin-right: 20px;
  flex: 0 0 auto;
  order: 1;
  border-radius: 12px;
}

.content-main {
  flex: 1 1 auto;
  order: 2;
}

.btn-main {
  width:111px;
  height:35px ;
  margin-bottom: 10px;
  margin-left: 85px;
  background: #5A5A5A;
  display: inline-block;
  color: #FFFFFF;
  font-size: 20px;
  text-decoration: none;
  border-radius: 4px;

}

.btn-main:hover {
  opacity: 0,7;
}

.main-title {
 width: 420px;
 height: 86px;
 color: #5A5A5A;
 font-size: 40px;
 margin-left: 80px;
}

.main-text {
  width: 420px;
  height: 81px;
  padding: 24px;
  margin-left: 60px;
  margin-bottom: 70px;
  font-size: large;
  color: #5A5A5A;
  font-weight: normal;
}

.block{
  display: flex;
  gap: var(--space-b);
}

.card {
  gap: var(--space-l);
}

.card-title {
  width: 184px;
  height: 22px;
  margin-top: 24px;
  color: #212529;
}

.card-text {
  color:#212529;
  width:288px;
  height:108px;
  margin-bottom: 24px;
}

.line-block {
  color: #0D6EFD;
  margin-top: 24px;
  width: 95px;
  height: 25px; 
}

.form {
  background: #563D7C;
  display: flex;
  gap: var(--space-l);
  width: 1000px;
  height: 129px;
  padding: 24px;
  border-radius: 8px;
  box-sizing:border-box;
  justify-content: space-between;
}

.form-title {
  color: #FFFFFF;
  width: 240px;
  height: 16px;
  font-size: x-large;
}

.form-button {
  background: #FFFFFF;
  display: inline-block;
  font-size: 20px;
  width: 240px ;
  height:52px;
  margin-top:12px;
}

.form-button:hover {
  background: #ffffffce
}